<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>2016 Rio de Janeiro Olympics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">

  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/d3_styles.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Rio de Janeiro Olympics</a>
        </div>
      </div>
    </nav>
    <div class="hero text-center" style="color: #000000">
      <h1>2016 Rio de Janeiro Olympics</h1>
      <p>It's all about the Medals!</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <h1>Lets Look at How the Medals Move</h1>
          <h5>Click each axis label to see how the data changes</53>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12  col-md-9">
          <div id="multi_chart">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12  col-md-9">
          <div class="article">
            <h2>Correlations Discovered Between Population, GDP, Num. of Athletes and the Medals Count</h2>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <span class="bottom">Rio de Janeiro Olympics</span>
    </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script type="text/javascript" src="../static/js/d3_chart.js"></script>

</body>

</html>
